html,
body,
.app{
  height:100vh;
  padding:1em;
  background:#1b1c1d;
  overflow: hidden;
  color:white
}
body{
  position:relative;
}

.no{
  text-decoration: none;
  color:white;
}

.no:visited{
  text-decoration: none;
  color:white;
}

.sign_out_icon{
  float:right;
}

.right{
  float:right;
}

.header-name{
  padding-top:25px!important;
}

.avatar-text{
  padding-left:20px!important;
  text-decoration: underline;
  color:lightblue;
}

.grid-name{
  color:white!important;
  padding-top:50px!important;
}